.h {
    text-align: center;
    text-shadow: 1px 2px yellow;
    text-decoration-color: white;
    font-size: 80px;
}
.c {
    font-size: 40px;
    text-align: left;
    text-decoration: underline;
}
#p1 {
    text-transform: uppercase;
    font-size: 20px;
    text-shadow: 0.5px o.5px white;
    text-align: left;
    color: rgb(204, 204, 0);
}
#p2 {
    text-align: justify;
    color: antiquewhite;
    text-shadow: 0.5px 0.5px rgb(204, 100, 100);
    /* font-height: 1cm; */
    font-size:20px;
    word-spacing: 7px;
}
.b {
  font-size: 20px;
  text-align: center;
  color: black;
  background-color: rgb(187, 187, 0);
  border: 1px;
}
a {
    color: rgb(181, 170, 170);
}