span{
    font-size: 30px;
    text-shadow: 20px;
    color: rgb(15, 15, 52);
    text-transform: uppercase;
}
h1{
    text-align: center;
    color: rgb(7, 131, 232);
    text-shadow: 2px 4px cadetblue;
    text-emphasis-color: rgb(238, 36, 36);
    text-decoration: underline;

}
body{
    background-color: rgb(199, 246, 246);
}
p{
    text-align: justify;
    background-color: rgb(255, 180, 82);
    text-indent: 30px;
    letter-spacing: 2px;
    word-wrap: normal;
    line-height: 1.5;
}